@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply bg-[#040714] text-[#f9f9f9];
  }

  .layout {
    /* 750px */
    max-width: 43.75rem;

    /* 1100px */
    max-width: 68.75rem;

    /* 1100px */
    max-width: 98.75rem;
    @apply w-11/12 mx-auto;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 80vh;
    background: #040714;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #55546C;
    border-radius: 80vh;
    border: 1px solid #524F4F;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #33324F;
  }
}

@layer components {
  .header-link {
    @apply flex items-center space-x-2 cursor-pointer;
  }

  .span {
    @apply relative uppercase text-sm font-medium before:bg-[#f9f9f9] before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 before:absolute before:transform before:origin-left before:scale-x-0 before:transition-all before:duration-200 group-hover:before:scale-x-100;
  }

  .brand {
    @apply flex relative w-40 h-32 sm:w-64 sm:h-36 2xl:w-80 2xl:h-48 border-[3px] border-[#f9f9f9] border-opacity-10 rounded-lg cursor-pointer shadow-xl overflow-hidden  hover:border-opacity-80 hover:shadow-2xl transform hover:scale-105 transition duration-300 bg-coolGray-800;
  }
}
